@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import '~video-react/styles/scss/video-react';

.active {

  .pro-sidebar {
    color: #fff;
    height: 100%;
    text-align: left;

    position: relative;
    z-index: 1009;

    >.pro-sidebar-inner {
      background: #000;
      background-image: url("https://ak.picdn.net/shutterstock/videos/1062736588/thumb/12.jpg?ip=x480");
      height: 100%;
      position: relative;
      z-index: 101;

    }
  }

  .accesory,
  .act4,
  .badgee,
  .books,
  .box,
  .c50,
  .c55,
  .evolutionevent,
  .specialitem,
  .valentineevent,
  .sellableitems,
  .customfeatures,
  .equipment,
  .faires,
  .fish,
  .home,
  .maps,
  .perfection,
  .prestige,
  .resistance,
  .rune,
  .server,
  .shell,
  .sp,
  .tatto,
  .wings,
  .teammembers,
  .schedule,
  .content,
  .winter,
  .home-start,
  .content,
  .shop,
  .raid,
  .title,
  .pets,
  .notes,
  .p8,
  .marathon {


    background-image: url("https://ak.picdn.net/shutterstock/videos/1009676855/thumb/1.jpg?ip=x480");

    color: #fff !important;
  }

  table {
    color: #fff;
  }

  a.btn-first {
    background-color: #ffff;
    color: #000;
  }

  a.btn-second {
    background-color: transparent;
    border: 1px solid #ffff;
    color: #000;
  }

  a.btn:hover {
    background-color: #fff;
    border: none;
    color: #000;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
  }

  .list-group-item {
    color: #000 !important;
  }

  .card-text {
    color: #000 !important;
  }

  .raid,
  .title,
  .wings,
  .act4,
  .pets {

    h2,
    h1 {
      color: #fff !important;
    }

    .card {
      background-image: url("https://ak.picdn.net/shutterstock/videos/1009676855/thumb/1.jpg?ip=x480");

    }

    p {
      color: #fff !important;
    }

  }

  .card-footer {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1009676855/thumb/1.jpg?ip=x480");

  }

  .card {

    border: #fff 1px solid;
  }

}


$sidebar-bg-color: #8947b1;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: #8947b1;
$sidebar-color: #fff;
$highlight-color: #dee2ec;
$icon-bg-color: #8947b1(255, 255, 255, 0.05);
$icon-size: 35px;


@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  width: 100%;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #8947b1;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: #8947b1(255, 255, 255, 0.05);
      color: #fff;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;

      span {
        margin-left: 5px;
        font-size: 13px;
      }

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .toggled {
    .btn-toggle {
      opacity: 0;

    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

  main {


    span {
      color: #fff !important;

    }
  }

  .btn-toggle {

    position: absolute !important;
  }

  .fish {
    img {
      width: 30% !important;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .sp {
    img {
      width: auto !important;
    }
  }

  .badgee {
    img {
      width: auto !important;
    }
  }

  .shop {
    th {
      img {
        margin-left: 100%;
      }
    }
  }

  .shop {
    th {
      img {
        margin-left: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .shop {
      th {
        img {
          margin-left: 0%;
        }
      }
    }
  }
.p8{
  img {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.evolutionevent{
  img{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.specialitem{
  img{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.valentineevent{
  img{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.act4{
  img {
    
    margin-left: 0 !important;
    margin-right: 0 !important;
  
  }
}
.act4{
  .flip-card-front{
  img {
    
    margin-left: 0 !important;
    margin-right: 0 !important;
    display:inline !important;
  }
}
}
  .accesory,
  .act4,
  .shop,
  .badgee,
  .books,
  .box,
  .c50,
  .c55,
  .evolutionevent,
  .specialitem,
  .valentineevent,
  .sellableitems,
  .customfeatures,
  .equipment,
  .faires,
  .fish,
  .home,
  .maps,
  .perfection,
  .prestige,
  .resistance,
  .rune,
  .server,
  .shell,
  .sp,
  .tatto,
  .wings,
  .teammembers,
  .schedule,
  .content,
  .winter,
  .raid,
  .title,
  .pets,
  .notes,
  .p8,
  .marathon{
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    img {
      width: auto;
      text-align: center !important;
      align-items: center !important;
      display: flex !important;
      justify-content: center !important;
      margin-left: auto;
      margin-right: auto;
    }

    .card {
      img {
        width: auto !important;
        margin-left: 0;
        margin-right: 0;
      }
    }
 
    
    @media (max-width: 767.98px) {
      img {

        padding-left: 0;
        padding-right: 0;
        width: 100% !important;
        height: auto !important;
        object-fit: cover;

      }
    }

    .card {
      img {
        height: auto !important;
      }
    }

    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;

      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }

  }

  .social-bagdes {
    margin-top: 10px;

    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;

    >span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }

    .block {
      direction: rtl;

      >span {
        margin-left: 0;
        margin-right: 10px;
      }
    }

    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;

    header {
      h1 {
        font-size: 24px;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;

  &.red {
    color: #ffffff;
    background: #d63030;
  }

  &.gray {
    color: #ffffff;
    background: #777777;
  }

  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

.home h1 {
  color: #8947b1;
}

.home {
  .rules-section {
    margin-top: 40px;

  }
}

.card {
  width: 30rem;
}

@media (max-width: 700px) {
  .card {
    width: auto !important;
  }
}

.teammembers {
  .centered {
    img {
      width: 20%;
    }
  }
}

@media (max-width: 700px) {
  .teammembers {
    .centered {
      img {
        width: 70%;
      }
    }
  }
}

.box {
  h5 {
    color: #8947b1 !important;
  }
}

.badgee {
  img {
    margin-top: 20px !important;
  }
}

.raid,
.title,
.wings,
.act4,
.pets {
  .card img {
    width: 20px !important;
    
  }
  

  a {
    text-decoration: none;
  }
  /*
  * {
    font-family: 'Fuzzy Bubbles', cursive;
  }
  */
}

@media (max-width: 700px) {

  .raid,
  .title,
  .wings,
  .act4,
  .pets {
    * {
      font-family: 'Fuzzy Bubbles' !important;
    }
  }

}

.toobigimg {
  max-width: 40% !important;
}

.toobigimg1 {
  max-width: 25% !important;
}

.toomuchtext {
  font-size: 50% !important;
}

.toomuchtext1 {
  font-size: 50% !important;
}

.app .raid .card img {
  width: 250px !important;
  margin-left: 0;
  margin-right: 0;

}

.app .act4 .card img {
  width: 250px !important;
  margin-left: 0;
  margin-right: 0;


}
@media (max-width: 1400px) {
  .app .act4 .card img {
    width: 65% !important;
    margin-left: 0;
    margin-right: 0;


  }

}

@media (max-width: 1400px) {
  .app .raid .card img {
    width: 65% !important;
    margin-left: 0;
    margin-right: 0;


  }

}
@media (max-width: 1000px) {
  .app .act4 .card {
    font-size: 90%;


  }
}
@media (max-width: 1000px) {
  .app .raid .card {
    font-size: 90%;


  }
}
@media (max-width: 1000px) {
  .app .act4 .card h5 {
    font-size: 90%;


  }
}

@media (max-width: 1000px) {
  .app .raid .card h5 {
    font-size: 90%;


  }
}

.raid,.act4 {

  .card {
    background-color: transparent;
    width: auto;
    height: 550px;
    perspective: 1000px;

  }

  @media (max-width: 575px) {
    .app .raid .card {
      height: 530px;

    }
  }
  @media (max-width: 575px) {
    .app .act4 .card {
      height: 530px;

    }
  }

  @media (max-width: 400px) {
    .app .raid .card {
      height: 490px;

    }
  }
  @media (max-width: 400px) {
    .app .act4 .card {
      height: 490px;

    }
  }

  @media (max-width: 520px) {
    .app .raid .card {
      height: 490px;

    }
  }
  @media (max-width: 520px) {
    .app .act4 .card {
      height: 490px;

    }
  }
  @media (max-width: 375px) {
    .app .raid .card {
      height: 450px;

    }
  }
  @media (max-width: 375px) {
    .app .act4 .card {
      height: 450px;

    }
  }
  @media (max-width: 1200px) and (min-width: 580px) {
    .app .raid .card {
      height: 500px !important;

    }
  }
  @media (max-width: 1200px) and (min-width: 580px) {
    .app .act4 .card {
      height: 500px !important;

    }
  }

  @media (max-width: 1000px) and (min-width: 576px) {
    .app .raid .card {
      height: 450px !important;

    }
  }
  @media (max-width: 1000px) and (min-width: 576px) {
    .app .act4 .card {
      height: 450px !important;

    }
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
 .flip-card-inner-psp-good  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 #ff862c;
  }
  .card:hover .flip-card-inner-psp-good  {
    transform: rotateY(180deg);
  }
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {

    color: black;
  }

  .flip-card-back {

    color: #000;
    transform: rotateY(180deg);
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {

  .card {
    background-color: transparent;
    width: auto;
    height: 500px;
    perspective: 1000px;

  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 ;
  }

  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {

    color: black;
  }

  .flip-card-back {

    color: #000;
    transform: rotateY(180deg);
  }
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.normalne{
  img{
  width: 25px !important;
  }
}
.app .title .card img {
  width: 250px !important;
  margin-left: 0;
  margin-right: 0;

}


@media (max-width: 1400px) {
  .app .title .card img {
    width: 65% !important;
    margin-left: 0;
    margin-right: 0;


  }

}

@media (max-width: 1000px) {
  .app .title .card {
    font-size: 90%;


  }
}

@media (max-width: 1000px) {
  .app .title .card h5 {
    font-size: 90%;


  }
}

.wings {

  .card {
    background-color: transparent;
    width: auto;
    height: 500px;
    perspective: 1000px;

  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  

  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {

    color: black;
  }

  .flip-card-back {

    color: #000;
    transform: rotateY(180deg);
  }
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.app .wings .card img {
  width: 600px !important;
  margin-left: 0;
  margin-right: 0;

}



@media (max-width: 1400px) {
  .app .wings .card img {
    width: 90% !important;
    margin-left: 0;
    margin-right: 0;


  }

}

@media (max-width: 1000px) {
  .app .wings .card {
    font-size: 90%;


  }
}

@media (max-width: 1000px) {
  .app .wings .card h5 {
    font-size: 90%;


  }
}
.flip-card-inner-psp {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.pets {
  .toomuchtext1{
font-size: 60% !important;
  }
 
    .toomuchimg{
  width: 10% !important;
    }
  .card {
    background-color: transparent;
    width: auto;
    height: 500px;
    perspective: 1000px;

  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 ;
  }

  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {

    color: black;
  }

  .flip-card-back {

    color: #000;
    transform: rotateY(180deg);
  }
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.app .pets .card img {
  
  margin-left: 0;
  margin-right: 0;

}



@media (max-width: 1400px) {
  .app .pets .card img {
   
    margin-left: 0;
    margin-right: 0;


  }

}

@media (max-width: 1000px) {
  .app .pets .card {
    font-size: 90%;


  }
}

@media (max-width: 1000px) {
  .app .pets .card h5 {
    font-size: 90%;


  }
 
}
.bordero{
  
  
  border: 3px solid #8947b1;
  padding: 50px;
  margin: 20px;

  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;


}
.bordero{
  
  
  border: 3px solid #8947b1;
  padding: 50px;
  margin: 20px;

  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;


}
.bordero1{
  
  
  border: 1px solid #8947b1;
  padding: 50px;
  margin: 20px;

  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;


}
.shop{
  a{
    text-decoration: none;
    display: inline-block;
    width: auto;
  height: auto;
   
 
    color: #8947b1;
 
  
text-align: center;
font-family: 'Fuzzy Bubbles';
font-size: 20px;

  
  }
  li{
    list-style:none;
    
  }
  
a[class="sc"]:focus ~ li:not([class="sc"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
  
}
a[class="pc"]:focus ~ li:not([class="pc"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}
a[class="bow"]:focus ~ li:not([class="bow"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}
a[class="sword"]:focus ~ li:not([class="sword"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}
a[class="fist"]:focus ~ li:not([class="fist"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}
a[class="wand"]:focus ~ li:not([class="wand"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}
a[class="upgraded"]:focus ~ li:not([class="upgraded"]) {
  height:0px;
  width:0px;
  border:none;
  margin:0;
  display:none;
}

}
.notes{
  img{
    width: 60% !important;
  }
}
.box{
  img{
    width: 20px !important;
  }
  f{
    margin-left: 3px;
  }
}
.act4{
  a{
    text-decoration: none;
  }
}