@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.active{

  .pro-sidebar {
    color: #fff;
    height: 100%;
    text-align: left;

    position: relative;
    z-index: 1009;
    > .pro-sidebar-inner {
      background: #000;
      background-image: url("https://ak.picdn.net/shutterstock/videos/1062736588/thumb/12.jpg?ip=x480");
      height: 100%;
      position: relative;
      z-index: 101;
  
    }
  }
 
  .accesory,
  .act4,
  .badgee,
  .books,
  .box,
  .c50,
  .c55,
  .customfeatures,
  .equipment,
  .faires,
  .fish,
  .home,
  .maps,
  .perfection,
  .prestige,
  .resistance,
  .rune,
  .server,
  .shell,
  .sp,
  .tatto,
  .wings,
  .teammembers,
  .schedule,
  .content,
  .winter,
  .home-start,
  .main,
  .content
  {
   
    
    background-image: url("https://ak.picdn.net/shutterstock/videos/1009676855/thumb/1.jpg?ip=x480");
    
    color: #fff !important;
  }
table{
  color: #fff;
}
a.btn-first {
  background-color: #ffff;
  color: #000;
}

a.btn-second {
  background-color: transparent;
  border: 1px solid #ffff;
  color: #000;
}

a.btn:hover {
  background-color: #fff;
  border: none;
  color: #000;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}
.list-group-item {
  color: #000 !important;
}
.card-text{
  color: #000 !important;
}
  
}



$sidebar-bg-color: #8947b1;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: #8947b1;
$sidebar-color: #fff;
$highlight-color: #dee2ec;
$icon-bg-color: #8947b1(255, 255, 255, 0.05);
$icon-size: 35px;


@import '~react-pro-sidebar/dist/scss/styles.scss';
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  width: 100%;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #8947b1;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: #8947b1(255, 255, 255, 0.05);
      color: #fff;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

 
  @media (max-width: 600px) {
    main{
      position:  fixed !important;
      opacity: 0.3;
    }
      }

  .accesory,
  .act4,
  .badgee,
  .books,
  .box,
  .c50,
  .c55,
  .customfeatures,
  .equipment,
  .faires,
  .fish,
  .home,
  .maps,
  .perfection,
  .prestige,
  .resistance,
  .rune,
  .server,
  .shell,
  .sp,
  .tatto,
  .wings,
  .teammembers,
  .schedule,
  .content,
  .winter {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    img{
      width: 60%;
    }
    
    @media (max-width: 767.98px) {
      img{
      
        width: 100% ;
   
        margin: 0 !important;
      }
    }
    
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }
   
  }
  
  .social-bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}
 .home h1 {
  color: #8947b1;
}
.home {
  .rules-section {
    margin-top: 40px;

  }
}
.card {
  width: 30rem;
}
@media (max-width: 700px) {
  .card {
    width: auto !important;
  }
  }
.teammembers{
  .centered{
  img{
    width: 20%;
  }
}
}
@media (max-width: 700px) {
  .teammembers{
    .centered{
    img{
      width: 70%;
    }
  }
}
  }
  
