@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  

}
hr{
  text-decoration: none;
  color: #fff !important;
  height: 3px !important;
  opacity: 1 !important;
}
.series-image-list {
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  flex-direction: column;
  margin-right: 50px;
}
.series-image-list img {
  width: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;

  transition: all .2s ease-in-out;
}
.accesory{
  img{
max-width: 80px;
  }
}
.accesory,
.act4,
.badgee,
.books,
.box,
.c50,
.c55,
.customfeatures,
.equipment,
.faires,
.fish,
.home,
.maps,
.perfection,
.prestige,
.resistance,
.rune,
.server,
.shell,
.sp,
.tatto,
.wings,
.teammembers,
.schedule {
  height: 20vh;
  margin-top: 50px;
  margin-left: 27%;
  margin-right: 27%;
  font-size: 1rem;

  a {
    text-decoration: none;
  }
  

}
.table-responsive{
  position: sticky !important;
}
@media (max-width: 600px) {

  .accesory,
  .act4,
  .badgee,
  .books,
  .box,
  .c50,
  .c55,
  .customfeatures,
  .equipment,
  .faires,
  .fish,
  .home,
  .maps,
  .perfection,
  .prestige,
  .resistance,
  .rune,
  .server,
  .shell,
  .sp,
  .tatto,
  .wings,
  .teammembers,
  .schedule { 
  margin-right: 0%;
  margin-left: 0%;
  }
}
.home{
  .rules-section{
    margin-top: 40px;
    
  }
  .top{
    margin-top: 0px;
  }
  .footer{
    margin-top: 40px;
  }
  h1{
    color: #8947b1;
  }
}
@media (max-width: 450px) {

  .home,
  .prestige,
  .server {
    margin-left: 10px;
  }
}
.accesory{
  img{
    position:absolute; 
    text-align:center; 
    vertical-align:middle;
    z-index: 9999;
   
    border-radius: 15px;
  }
}
.badgee{
  img{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    height: 80%;
  }
}
.books{
  img{
    position:absolute; 
    text-align:center; 
    vertical-align:middle;
    z-index: 9999;
   
    border-radius: 15px;
  }
}
.box{
  h5{
    color: #8947b1;
    margin-top: 20px;
    font-weight: 600;
  }
}
.series-image-list {
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  flex-direction: column;
  margin-right: 50px;
}

.series-image-list1 {
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  flex-direction: column;
  margin-right: 50px;
  height: auto;
  margin-left: 25%;
  margin-right: auto;
  width: 80%;
}
.series-image-list1 img{
  width: 100vh;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  
  
  

  transition: all .2s ease-in-out;
}
.resistance{
  img{
    position:absolute; 
    text-align:center; 
    vertical-align:middle;
    z-index: 9999;
    
   
    border-radius: 15px;
  }
 
}
.sp{
 img{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
 }
}
.schedule{
  h3{
    color: #8947b1;
    margin-top: 20px;
    font-weight: 400;
  }
}
.accesory,
.books{
  max-width: 100%;
  flex-wrap: nowrap;
  img{
    position: relative;

  }
}