* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  

}
hr{
  text-decoration: none;
  color: #fff !important;
  height: 3px !important;
  opacity: 1 !important;
}
.series-image-list {
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  flex-direction: column;
  margin-right: 50px;
}
.series-image-list img {
  width: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;

  transition: all .2s ease-in-out;
}
.accesory,
.act4,
.badgee,
.books,
.box,
.c50,
.c55,
.customfeatures,
.equipment,
.faires,
.fish,
.home,
.maps,
.perfection,
.prestige,
.resistance,
.rune,
.server,
.shell,
.sp,
.tatto,
.wings {
  height: 20vh;
  margin-top: 50px;
  margin-left: 27%;
  margin-right: 27%;
  font-size: 1rem;

  a {
    text-decoration: none;
  }

}
.home{
  .rules-section{
    margin-top: 40px;
    
  }
  .top{
    margin-top: 0px;
  }
  .footer{
    margin-top: 40px;
  }
  h1{
    color: #8947b1;
  }
}
@media (max-width: 450px) {

  .home,
  .prestige,
  .server {
    margin-left: 10px;
  }
}