* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
hr{
  text-decoration: none;
  color: #fff !important;
  height: 3px !important;
  opacity: 1 !important;
}
.series-image-list {
  position: relative;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin-right: 50px;
}
.series-image-list img {
  width: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  transition: all .2s ease-in-out;
}
.home,
.prestige,
.server {
  height: 20vh;
  margin-top: 80px;
  margin-left: 220px;
  margin-right: 50px;
  font-size: 1rem;

  a {
    text-decoration: none;
  }

}

@media (max-width: 450px) {

  .home,
  .prestige,
  .server {
    margin-left: 10px;
  }
}