.tr1 {
    background-color: #f61319;
}
.tr2 {
    background-color: #f46146;
}
.tr3 {
    background-color: #930046;
}
.tr4 {
    background-color: #81231d;
}
.tr5 {
    background-color: #9ffd65;
}
.tr6 {
    background-color: #31c35a;
}
.tr7 {
    background-color: #36bd9c;
}
.tr8 {
    background-color: #ea4eb1;
}
.table-void {
    background-color: #8947b1 !important;
}
.tr9{
    background-color: #c300fe;
}
.nosvoid-color{
    color: #8947b1;
}
.item-effect{
    color: #ff862c;
}
